.bg-banner{
  background-image: url(https://images.unsplash.com/photo-1560243563-062bfc001d68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center;
  min-height:350px;
}

.bg-lighter {
  background-color: rgba(255, 255, 255, .55);
}

.box-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30);
  }
}

.accordion-hover {
 &:hover {
   color:blue;
   font-style: italic;
 }
}

.btn.disabled {
  pointer-events: none;
}

.alert-rounded {
  border-radius: 50px;
}

